# Ignore sample data
samples/*

# Ignore large genomic files
*.bam
*.bam.bai
*.vcf
*.vcf.gz
*.fa
*.fasta
*.str
*.fai

# Keep results but ignore large output files
results/*.bam
results/*.vcf.gz

# Ancestry results
ancestry/EthSEQ_Results_3D/

# Results from desc_analysis
desc_analysis/results/

# Large reference files
strs_call/hg38.fa
strs_call/hg38.fa.*
gtf_annot/*.gtf
gtf_annot/Homo_sapiens*.gtf

# Results dataviz
dataviz/results/

# Results enrichment by Z-score filtering
enrich_analysis/GO_analysis/results/
enrich_analysis/KEEG_analysis/results/

# Results
z-score_analysis/results/
z-score_analysis/STRs_COVID_Grouped.csv
