# Ignore sample data
samples/*

# Ignore large genomic files
*.bam
*.bam.bai
*.vcf
*.vcf.gz
*.fa
*.fasta
*.str
*.fai
*.pdf
*.tsv
*.gds
*.pbs
*.gtf

# Ignore backup
bk_6_scovid_data

# Ignore scovid_data
6_scovid_data/*
!6_scovid_data/integrate_cell.py

# Ignore results generated
**/results/

# Keep results but ignore large output files
results/*.bam
results/*.vcf.gz

# Ancestry results
ancestry/EthSEQ_Results_3D/

# Results from desc_analysis
desc_analysis/results/

# Large reference files
strs_call/hg38.fa
strs_call/hg38.fa.*
gtf_annot/*.gtf
gtf_annot/Homo_sapiens*.gtf


